.card_background {
    background-color: #111111;
}
.panel {
    background-color: #111111;
}

.card_column {
    padding :0 px;
    background-color: #111111;
}

#experties_header{
    text-align: center;  
    color: #fff;
}

#experties_body {
    text-align: left;   
}