:root {
  --yangColor: #f59d62;
  --yinColor: #111111;
}

body {
  background-color: #111;
  text-align: justify;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  color: #818181;
  font-family: 'Muli', Tahoma, Geneva, Verdana, sans-serif;
}

#address_details {
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

#name {
  padding-left: 0px;
  width: 100%;
  text-align: center;
  background-color: #111;
}

#mainSide {
  text-align: center;
  align-items: center;
}

#maskSide {
  text-align: center;
  align-items: center;
}

.navbar{
  background-color: #111 !important;
}

.btn {
  border: 2px solid var(--yangColor);
  color: var(--yangColor);
  padding: .5em;
}

#contactDetails{
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  color: #fff;
  text-align: left;;
}

h1{
  position: fixed;
  z-index: 1;
}

.cardBackground {
  background-color: #111111;
}
.panel {
  background-color: #111111;
}

.cardColumn {
  background-color: #111111;
}

#expertiesHeader{
  text-align: center;  
  color: #fff;
}

#expertiesBody {
  text-align: left;   
}

#expertiesBody{
  text-align: justify;
}

.fab.fa-github, .fa-envelope, .fa-linkedin, .fa-home, .fa-researchgate, .fa-cogs, .fa-award, 
.fa-graduation-cap, .fa-briefcase, .fa-language, .fa-address-book{
  color: var(--yangColor); /* Replace with your desired color */
}

#reference{
  display: inline-flex;
}

#parent {
  display: inline;
}

#highlightedDate {
  display: inline;
  float: right;
  color: var(--yangColor);
}

.text-wrapper {
  display: flex;
  font-weight: 400;
  justify-content: center;
}

.text-dynamic {
  list-style-type: none;
  overflow: hidden;
  line-height: 30px;
  height: 35px;
}

.text-item {
  position: relative;
  font-weight: 400;
  color: var(--yangColor);
  list-style: none;
  top: 0;
  animation: slide 12s steps(4) infinite;
  align-items: center;
}

.text-item::after {
  position: absolute;
  content: '';
  left: 0;
  width: calc(100% + 30px);
  border-left: 3px solid var(--yangColor);
  background-color: var(--yinColor);
  animation: typing 3s steps(6) infinite;
}

@keyframes slide {
  100% {
    top: -120px;
  }
}

@keyframes typing {

  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

