:root {
  --yangColor: #f59d62;
  --yinColor: #111111;
  --graycolor: #818181;
}

body {
  background-color: var(--yinColor);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--graycolor);
  font-family: 'Muli', Tahoma;
  padding:0;
}
#about{
  text-align: justify;
  width: 100%;
  padding:0;
}

#rigtHeader {
  position: fixed;
  z-index: 1;
  background-color: var(--yinColor);
  justify-content: center;
  width: 100%;
}

#mainBody{
  width:100%
}

#maskHeader {
  height: 130px;
  top: 0;
  width: 100%;
}

#photo {
  border-radius: 40%;
  width: 55%;
  height: auto;
}

#photo-row {
  justify-content: center;
  padding-right:0;
}

#navBar{
  text-align: center;
}

#download-resume {
  border: 2px solid var(--yangColor);
  color: var(--yangColor);
  padding: .5em;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  color: #fff;
}

.fab.fa-github,
.fa-envelope,
.fa-linkedin,
.fa-home,
.fa-researchgate,
.fa-cogs,
.fa-award,
.fa-graduation-cap,
.fa-briefcase,
.fa-language,
.fa-address-book,
.fa-heart {
  color: var(--yangColor);
}

#mainleft{
  margin: 3%;
  width: 100%;
  padding:0%;
}

.card {
  width: 100%;
}

.text-dynamic {
  list-style-type: none;
  overflow: hidden;
  line-height: 30px;
  height: 35px;
  padding: 0%;
  text-align: center;
}

.text-item {
  position: relative;
  font-weight: 400;
  color: var(--yangColor);
  list-style: none;
  top: 0;
  animation: slide 12s steps(4) infinite;
  align-items: center;
}

.text-item::after {
  position: absolute;
  content: '';
  left: 0;
  width: calc(100% + 30px);
  border-left: 3px solid var(--yangColor);
  background-color: var(--yinColor);
  animation: typing 3s steps(6) infinite;
}


@keyframes slide {
  100% {
    top: -120px;
  }
}

@keyframes typing {

  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

#iam-title{
  margin:0;
  justify-content: center;
  color: var(--yangColor);
 }

#dynamic-text{
 margin:0;
 justify-content: center;
}

#highlightedDate {
  color: var(--yangColor);
  text-align: right;
}

#experties, #projects, #contacts, #work-experience, #volunteer, #education, #skills, #education{
  width:100%;
  margin:0;
  padding-right:0;
  justify-content: center;

}

a {
  color:  #fff;
}

.btn-link{
  color: var(--yangColor);
}


#contacts{
  align:"center"
}

#card-header{
  text-align:center;
  background-color: black;
}

#card-body{
  text-align:center;
  background-color: var(--graycolor);
  color: white;
}

